PORT=5000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=zalo_app

DATABASE_URL_MARIA=
DATABASE_URL_MONGO=
MONGODB_URI=mongodb://127.0.0.1:27017/zalo_app

JWT_ACCESS_SECRET=your_super_strong_access_secret
JWT_REFRESH_SECRET=your_super_strong_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGINS=http://localhost:5173,http://localhost:19006

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=your_bucket_name
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
